@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #bdb3aa;
  --secondary-color: #4f4f57;
  --primary-color-light: #bdb2aaab;
  --primary-color-lighter: #bdb2aa76;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  
}

header{
  margin: 1.5rem auto;
  width: 60rem;
}

.brown {
  color: var(--primary-color);
  font-weight: 900;
}

.trans-btn {
  background-color: transparent;
  color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
  font-weight: 600;
  transition: all .1s linear;
}

.trans-btn:hover{
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: all .1s linear;
}

li {
  list-style: none;
}

#nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  
}

#email-btn {
  font-size: 0.7rem;
  width: 4.9rem;
}

#resume-btn {
  background-color: var(--primary-color-light);
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
  font-weight: 600;
  transition: all .1s linear;
}

#resume-btn:hover{
    cursor: pointer;
    background-color: var(--primary-color)
}


.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8.75rem;
}

.info-container h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0.7rem;
}

.info-container p {
  font-size: 1.2rem;
  width: 27rem;
  letter-spacing: 2px;
  line-height: 30px;
  color: var(--secondary-color);
}

.info-container button {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  border: 3px solid var(--primary-color);
  margin-top: 3rem;
  border-radius: 0.4rem;
}

.social-img {
  width: 35px;
  height: 35px;
}

.social-img:hover{
  transform: scale(1.1);
  transition: all .2s linear;
}

#social ul {
  display: flex;
  justify-content: space-between;
  width: 11rem;
  margin-top: 4rem;
}

#social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-footer ul {
  display: flex;
  justify-content: space-between;
  width: 11rem;
  margin-top: 0rem;
  margin-bottom: 4rem;
  
}



#profile {
  width: 400px;
  height: 390px;
  border-radius: 50%;
  transform: scaleX(-1);
}

#work{
  padding-top: 23px;
  width: 100%;
}

.project{
  display: flex;
  justify-content: space-between;
  width: 97%;
  border-radius: 32px;
  background-color: var(--primary-color-lighter);
  margin: 7rem auto 0 auto;
  padding: 6rem 5rem;
}

.project h3 {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--secondary-color);
}
 .project h2 {
  font-size: 3.4rem;
  font-weight: 700;
 }
 .project button {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.7rem 1.5rem;
  margin-top: 4.2rem;
 }

 .project img {
  height: 300px;
  border-radius: 10px;
  box-shadow: 10px 10px 44px -5px rgba(0,0,0,0.71);
 }

 .see-all {
  text-align: center;
  width: 100%;
  margin-top: 50px;
 }

 .see-all a{
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.7rem 1.5rem;
  border: 3px solid var(--primary-color);
  border-radius: 0.4rem;
 }

 #wid {
  margin-top: 10rem;
  width: 100%;
  margin-bottom: 10rem;
 }

 #wid h2 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 0.7rem;
  text-align: center;
 }

 .skills-container {
  display: flex;
  justify-content: space-around;
  margin-top: 9rem;
 }
 .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .skill img {
  width: 100px;
  height: 100px;
  margin-bottom: 1.4rem;
 }

 .skill h3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 1.4rem;
 }


 .skill p {
  width: 12.5rem;
  text-align: center;
  font-weight: 200;
  color: var(--secondary-color);
  
 }

 #hi h2 {
  font-size: 4rem;
  font-weight: 900;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  text-align: center;
 }

 #hi h3 {
  text-align: center;
  font-weight: 200;
  color: var(--secondary-color);
  font-size: 1.7rem;
  margin-bottom: 2.5rem;
 }

 #hi button {
  display: block;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0.7rem 2rem;
  min-width: 16.6rem;
  margin: 0 auto;
  margin-bottom: 5rem;
 }

 hr {
  display: block;
 border: 1px solid var(--primary-color);
 width: 300px;
 margin: 0 auto;
 }

 footer p {
  display: block;
  text-align: center;
  font-weight: 200;
  font-size: .7rem;
  color: var(--secondary-color);
  margin: 1rem 0;
 }


 @media only screen and (max-width: 768px) {
  /* For mobile phones: */


#nav{
  display: flex;
  justify-content: center;
  text-align: center;
}

  header{
    width: 100%;
  }

  #profile{
    display: none;
  }

  .info-container{
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .info-container h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 0 1rem;
  }

  .info-container button {
    margin: 3rem auto 0 auto ;
    display: block;
  }

  .info-container p{
    width: auto;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
  }

  .info-container a{
    text-decoration: none;
  }

  #social ul{
    margin: 3rem auto 0 auto ;
  }

  #email-btn{
    display: none;
  }

  #resume-btn{
    display: none;
  }

  .project{
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 70px;
    border-radius: 0;
    padding: 3rem 2rem;
  }

  .project img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 44px -5px rgba(0,0,0,0.71);
   }

   .project button{
    font-size: 1rem;
   }

   .project h3{
    font-size: 1.2rem;
   }

   .project h2{
    font-size: 2.2rem;
   }

   .skills-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10rem;
   }

    #hi h2{
      font-size: 3rem;
    }

    #hi h3 {
      font-size: 1rem;
    }
   

  }

